body {
    font-family: 'Dongle', sans-serif;
   
  }
  nav{
      height: 80px;
      width: 100%;
      border: 1px solid rgb(240, 232, 232);
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      background-color: rgb(248, 246, 246);
  }
  nav h1{
      color: rgb(248, 98, 198);
      display: inline-block;
      font-size: 42px;
      margin: 0;
      margin-top: 10px;
      margin-left: -99.99px;
  }
  .nav_links{
      /* border: 1px solid black; */
  }
  .nav_links a{
    display: inline-block;
    /* border: 1px solid black; */
    text-decoration: none;
    color: rgb(56, 56, 56);
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 30px;
    margin-top: 20px;
  }
  .nav_links a:hover{
      color: crimson;
  }



  .banner{
      width: 100%;
      height: 500px;
      border: 1px solid black;
      display: flex;
  }
  .background_box{
      height: 60%;
      width: 33%;
      border: 1px solid rgb(201, 201, 43);
      background: linear-gradient(17deg, rgba(196,116,17,1) 37%, rgba(239,244,21,1) 83%);  
      margin-left: 120px;
      margin-top: 110px;

  }
  .background_box img{
    height: 290px;
    margin-left: -50px;
    margin-top: -40px;
  }
  .banner_text{
      /* border: 1px solid black; */
      display: inline-block;
      height: 65%;
      margin-top: 70px;
      margin-left: 220px;
  }
  .banner_text h1{
      font-size: 80px;
      width: 290px;
      margin: 0px;
      padding: 0;
      color: rgb(71, 196, 245);
  }
  .banner_text  p{
    font-size: 40px;
    margin-top: -120px;
    color: rgb(78, 76, 76);
    font-weight: bold;
  }



  .section_1{
      width: 100%;
      height: 350px;
      border: 1px solid black;
      background-color: rgb(8, 189, 189);
  }
  .sec_1_text{
      /* border: 1px solid black; */
      display: inline-block;
      width: 600px;
      height: 80%;
      margin-left: 20%;
      margin-top: 3%;
      color: rgb(255, 255, 255);
  }
  .sec_1_text h1{
      font-size: 70px;
      margin: 0;
     
  }
  .parent_p{
      display: flex;
      justify-content: space-around;
  }
  .line{
      height: 3px;
      width: 490px;
      background-color: rgb(11, 225, 225);
      display: inline-block;
      margin-top: 9px;
  }
  .p_text{
      margin-left: 30px;
  }
  .sec_1_text p{
      font-size: 30px;
      margin: 0;
      line-height: 25px;
      letter-spacing: .8px;
      word-spacing: 2px;
      color: rgb(238, 220, 220);
  }




  .box_container{
      display: flex;
      justify-content: space-around;
  }